**/dist/**/*
bun.lock
packages/lib/actions.ts
packages/lib/formulas.ts
examples/hono/assets/
examples/projects/*
**/.wrangler/**/*
packages/backend/__project__/
packages/core/src/component/schemas/*.js
packages/core/src/component/schemas/*.json