name: 'Deploy'

on:
  workflow_call:
    inputs:
      version:
        description: 'Version to deploy'
        required: true
        type: string

permissions:
  id-token: write # Required for OIDC - see https://docs.npmjs.com/trusted-publishers
  contents: read

jobs:
  publish_to_npm:
    runs-on: ubuntu-latest
    steps:
      - name: Debug
        run: echo ${{ inputs.version }}
      - name: Checkout
        uses: actions/checkout@v4
      - name: Prepare publish folder
        run: |
          mkdir publish
      - name: Prepare core
        run: |
          cd packages/core
          echo $(jq '. += {"version": "${{ inputs.version }}"}' package.json) > package.json
      - name: Prepare lib
        run: |
          cd packages/lib
          echo $(jq '. += {"version": "${{ inputs.version }}"}' package.json) > package.json
      - name: Prepare ssr
        run: |
          cd packages/ssr
          echo $(jq '. += {"version": "${{ inputs.version }}"}' package.json) > package.json
      - name: Prepare search
        run: |
          cd packages/search
          echo $(jq '. += {"version": "${{ inputs.version }}"}' package.json) > package.json
      - name: Prepare runtime
        run: |
          cd packages/runtime
          echo $(jq '. += {"version": "${{ inputs.version }}"}' package.json) > package.json
      - name: Setup bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.3
      - name: Install dependencies
        run: |
          rm bun.lock
          bun install
      - name: Build
        run: bun run build
      - name: Build core
        run: |
          cd packages/core
          bun pm pack --destination ../../publish/core
          mv ../../publish/core/nordcraft-*.tgz ../../publish/core/core.tgz
      - name: Build lib
        run: |
          cd packages/lib
          bun pm pack --destination ../../publish/lib
          mv ../../publish/lib/nordcraft-*.tgz ../../publish/lib/lib.tgz
      - name: Build ssr
        run: |
          cd packages/ssr
          bun pm pack --destination ../../publish/ssr
          mv ../../publish/ssr/nordcraft-*.tgz ../../publish/ssr/ssr.tgz
      - name: Build search
        run: |
          cd packages/search
          bun pm pack --destination ../../publish/search
          mv ../../publish/search/nordcraft-*.tgz ../../publish/search/search.tgz
      - name: Build runtime
        run: |
          cd packages/runtime
          bun pm pack --destination ../../publish/runtime
          mv ../../publish/runtime/nordcraft-*.tgz ../../publish/runtime/runtime.tgz
          # Setup npm for publishing
      - name: Setup node/npm
        uses: actions/setup-node@v6
        with:
          node-version: 24
      # - name: Publish core
      #   run: |
      #     cd publish/core
      #     npm publish --access public core.tgz
      - name: Publish lib
        run: |
          cd publish/lib
          npm publish --access public lib.tgz
      - name: Publish ssr
        run: |
          cd publish/ssr
          npm publish --access public ssr.tgz
      - name: Publish search
        run: |
          cd publish/search
          npm publish --access public search.tgz
      - name: Publish runtime
        run: |
          cd publish/runtime
          npm publish --access public runtime.tgz
